<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>202257291519-ss1r4elo32ldhl089jolm4a35t476fvt.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.202257291519-ss1r4elo32ldhl089jolm4a35t476fvt</string>
	<key>ANDROID_CLIENT_ID</key>
	<string>202257291519-sde7r7elovoans7ij0m8andn99muevvi.apps.googleusercontent.com</string>
	<key>API_KEY</key>
	<string>AIzaSyDFfb6BRf2gjUyzAToR7RS1_3y5CRlqEsc</string>
	<key>GCM_SENDER_ID</key>
	<string>202257291519</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.baszman.site</string>
	<key>PROJECT_ID</key>
	<string>bravzsupatips</string>
	<key>STORAGE_BUCKET</key>
	<string>bravzsupatips.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:202257291519:ios:bef5137b2c0ca87c2214ca</string>
	<key>DATABASE_URL</key>
	<string>https://bravzsupatips-default-rtdb.firebaseio.com</string>
</dict>
</plist>